<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTB2GDHHsPlhkTAmh3LH0IoOimns-uuzA</string>
	<key>GCM_SENDER_ID</key>
	<string>377097215440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticketTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>ticket-tracker-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ticket-tracker-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377097215440:ios:1a8f664022706a58b76dd5</string>
	<key>DATABASE_URL</key>
	<string>https://ticket-tracker-app-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>